In [7]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}
print(marks)

{'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [3]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

for key, value in marks.items():
    print(key, value)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [17]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

import math
just_values = marks.values()

mean_value = (sum(just_values)/len(just_values))
print(mean_value)
max_value = max(just_values)
print(max_value)
min_value = min(just_values)
print(min_value)

75.2
90
55

In [5]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

for name in marks.keys():
    if 'J' in name:
        break
    else:
        print(name)

Andy
Amy

In [6]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

for name in marks.keys():
    if 'J' in name:
        continue
    else:
        print(name)

Andy
Amy
Arthur

In [33]:
def function(input):
    marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}    
    for student in marks:
        if student == input:
            print(marks[student])
            break
    else:
        print("Cannot find this student's name")
   
    
     
function('Amy')

66

In [37]:
def less_than(num):
    n = 0
    while n < num:
        print(n, n**n)
        n += 1
    else:
        print("greater than", num)


less_than(8)

0 1
1 1
2 4
3 27
4 256
5 3125
6 46656
7 823543
greater than 8

In [40]:
def question_seven(num):
    n = 1
    sum = 0
    while n <= num:
        sum += n
        n += 1
    else:
        print(sum)



question_seven(8)

36

In [42]:
def question_nine(num):
    n = 1
    sum = 0
    for x in range(num):
        sum += n
        n += 1
        print(sum)
    
question_nine(8)

1
3
6
10
15
21
28
36

In [14]:
def minimal(v1,v2,v3,v4):
    min_value = v1
    if v2 < v1:
        min_value = v2
    if v3 < min_value:
        min_value = v3
    if v4 < min_value:
        min_value = v4
    return min_value
    
    
minimal(62,3,15,8)

3